* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#trybe-tunes-header {
  color: green;
  text-align: center;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.20em;
  justify-content: center;
  height: 300px;
  width: 300px;
}